<div class="row">
  <div class="col-12">
    <div class="contactSection d-flex">
      <div class="emailSection">
        <i class="bi bi-envelope-at-fill"></i>
        <span class="iconContent">{{emailId}}</span>      
      </div>
      <div class="borderSection"></div>
      <div class="phoneNumberSection">
        <i class="bi bi-telephone-fill"></i>
        <span class="iconContent">1234567890</span>      
      </div>
    </div>
  </div>
  <div class="col-12">
    <nav class="navbar">
      <a class="navbar-brand navBrand" href="javascript:">Navbar</a>
    </nav>
  </div>    
</div>