.contactSection {
  background: #000;
  color: #fff;
  padding: 0.3% 8%;
}

.emailSection, .phoneNumberSection {
  display: flex;
}

.emailSection i, .phoneNumberSection i {
  margin-right: 8px;
}

.borderSection {
  margin: 0 1%;
  border-left: 1px solid #fff;
}


.navbar {
  background: #f1d68f;
  font-weight: bold;
  padding: 0 8%;
}

.navBrand {
  color: #000;
}

@media (max-width: 320px) {
  .contactSection {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
  }

  .emailSection{
    margin-left: 5%;
    font-size: 96%;
  }

  .borderSection{
    margin-left: 5%;
  }

  .phoneNumberSection{
    margin-top: 3%;
    margin-left: 25%;
    font-size: 100%;
  }
}