.bg-transparent a{
  background-color: transparent !important;
  color: #eee;
}
  
.bg-dark a{
  color: white;
}

.nav-link{
  color: #eee !important;
  margin-right: 10px !important;
  padding: 0px 8px !important;
  transition: 0.2s !important;
  font-size: 15px !important;
  transition: background 0.3s, border-radius 0.3s;
}

.active .nav-link {
  background: #14ff72cb !important;
  border-radius: 5px !important;
}

.nav-item:hover {
    background: #14ff72cb;
    border-radius: 5px;
}
