.heading{
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;    
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}

.description{
    margin-top: 5px;
    margin-bottom: 35px;
    margin-left: 150px;
    margin-right: 150px;
}

.content{
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .heading {
        font-size: 4em;
    }

    .description {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 992px) {
    .heading {
        font-size: 3.5em;
    }

    .description {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 3em;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .description {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .content {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media (max-width: 576px) {
    .heading {
        font-size: 2.5em;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .description {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 5px;
        margin-bottom: 25px;
    }

    .content {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}