/* Base styles */
.content {
    background-color: #CADCFC !important;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #00246b;
}

.heading {
    text-align: center;
    font-size: 50px;
}

.head {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: underline;
}

.customRowClass {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.content1 {
    text-align: justify;
    padding: 10px 30px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .heading {
        font-size: 40px;
    }
    
    .head {
        font-size: 24px;
    }
    
    .customRowClass {
        margin: 20px;
    }
    
    .content1 {
        padding: 10px;
    }
}

@media screen and (max-width: 576px) {
    .heading {
        font-size: 30px;
    }
    
    .head {
        font-size: 20px;
    }
}